#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Adaptigo
GenericName=Adaptigo
Icon=adaptigo
Comment=Software, Codec Installs & System Tweaks
Exec=adaptigo
Terminal=false
Type=Application
Categories=System;Utility;X-Debian;
Keywords=clean;codec;debian;fix;install;proprietary;
Name[en_GB]=adaptigo
