#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Debi
GenericName=Debi
Icon=fedy
Comment=Software, Codec Installs & System Tweaks
Exec=debi
Terminal=false
Type=Application
Categories=System;Utility;X-Debian;
Keywords=clean;codec;debian;fix;install;proprietary;
Name[en_GB]=debi
